<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/static/img/logo.png">
    <title>YeBlog - 博客 - 个人中心</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link href="/static/modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/static/modules/layui/css/layui.css" rel="stylesheet" />

    <link href="/static/css/index.css" rel="stylesheet" />
</head>

<body>
<div class="app">
    <div class="header"></div>
    <div class="contain">
        <div class="navbar">
            <nav class="nav-list">
                <a href="/" class="item">
                    <i></i>
                    <span>首页</span>
                </a>
                <a href="/column" class="item">
                    <i></i>
                    <span>专栏</span>
                </a>
                <a href="/createBlog" class="item">
                    <i></i>
                    <span>写博客</span>
                </a>
                <a href="/shop" class="item">
                    <i></i>
                    <span>商城</span>
                </a>
                <a href="/profile" class="item">
                    <i></i>
                    <span>个人中心</span>
                </a>
                <a href="/schedule" class="item">
                    <i></i>
                    <span>留言板</span>
                </a>

            </nav>
        </div>
        <div class="main">
            <div class="profile">
                <div class="profile-user1">
                    <div class="mail">
                        <i></i>
                        <span>邮箱:</span>

                        <span class="value"></span>
                    </div>
                    <div class="phone">
                        <i></i>
                        <span>手机:</span>

                        <span class="value"></span>
                    </div>
                    <div class="lastIP">
                        <i></i>
                        <span>上次登录IP:</span>

                        <span class="value"></span>
                    </div>
                    <div class="lastTime">
                        <i></i>
                        <span>上次登录时间:</span>

                        <span class="value"></span>
                    </div>
                    <div class="blogCount">
                        <i></i>
                        <span>我发表的博客:</span>

                        <a href="javascript:;" class="avalue" onclick="getBCData('blog',1)"></a>
                    </div>
                    <div class="blogCollCount">
                        <i></i>
                        <span>我收藏的博客:</span>

                        <a href="javascript:;" class="avalue" onclick="getBCData('collBlog',1)"></a>
                    </div>
                    <div class="commentCount">
                        <i></i>
                        <span>我发布的评论:</span>

                        <a href="javascript:;" class="avalue" onclick="getBCData('comment',1)"></a>
                    </div>
                    <div class="commentPraCount">
                        <i></i>
                        <span>我点赞的评论:</span>

                        <a href="javascript:;" class="avalue" onclick="getBCData('praComment',1)"></a>
                    </div>

                </div>
                <div class="profile-user2">
                    <div>
                        <div class="top">
                            <img src="/static/img/logo.png">
                        </div>
                        <img src="/static/img/logo.png" class="profile-photo">
                        <div class="bottom">
                            <div class="profile-loginId">
                                <i></i>
                                <span class="value2"></span>

                            </div>
                            <div class="profile-name">
                                <i></i>
                                <span class="value2"></span>
                            </div>
                            <div class="profile-sex">
                                <i></i>
                                <span class="value2"></span>
                            </div>
                            <div class="update">
                                <button type="button" class="layui-btn layui-btn-primary" id="updateBtn">更新个人信息</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="UserInfo" style="display: none;">
                    <form class="layui-form" lay-filter="UserInfoForm">
                        <div class="layui-form-item">
                             <label class="layui-form-label" style="padding: 9px 12px;">性别</label>
                             <div class="layui-input-inline">
                                 <input type="radio" name="sex" value="男" title="男" checked="">
                                 <input type="radio" name="sex" value="女" title="女">
                                 </div>
                             </div>
                         <div class="layui-form-item">
                             <label class="layui-form-label" style="padding: 9px 12px;">名称</label>
                             <div class="layui-input-inline">
                                 <input type="text" name="name" placeholder="名称" autocomplete="off" class="layui-input">
                                 </div>
                            </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="padding: 9px 12px;">邮箱</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" placeholder="邮箱" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="padding: 9px 12px;">头像</label>
                            <div class="layui-input-inline">
                                <div class="layui-upload">
                                    <input type="file" name="file" id="photo"/>
                                    </div>
                                </div>
                            </div>
                        </form>
                </div>
            </div>
            <div class="list">

            </div>
        </div>
    </div>
</div>
</body>

<script src="/static/js/jquery-1.8.2.min.js" type="text/javascript"></script>
<script src="/static/modules/layui/layui.js" type="text/javascript"></script>

<script src="/static/js/common.js" type="text/javascript"></script>
<script src="/static/js/profile/profile.js" type="text/javascript"></script>

</html>