<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/static/img/logo.png">
    <title>YeBlog - 博客 - 个人中心</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link href="/static/modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/static/modules/layui/css/layui.css" rel="stylesheet" />

    <link href="/static/css/index.css" rel="stylesheet" />
</head>

<body>
<div class="app">
    <div class="header"></div>
    <div class="contain">
        <div class="navbar">
            <nav class="nav-list">
                <a href="/" class="item">
                    <i></i>
                    <span>首页</span>
                </a>
                <a href="/column" class="item">
                    <i></i>
                    <span>专栏</span>
                </a>
                <a href="/createBlog" class="item">
                    <i></i>
                    <span>写博客</span>
                </a>
                <a href="/shop" class="item">
                    <i></i>
                    <span>商城</span>
                </a>
                <a href="/profile" class="item">
                    <i></i>
                    <span>个人中心</span>
                </a>
                <a href="/schedule" class="item">
                    <i></i>
                    <span>留言板</span>
                </a>

            </nav>
        </div>
        <div class="main">
            <div class="room">
                <div class="room-user">
                    <div class="top">
                        <img src="/static/img/logo.png">
                    </div>
                    <img src="/static/img/logo.png" class="room-photo">
                    <div class="bottom">
                        <div class="room-loginId">
                            <i></i>
                            <span class="value"></span>

                        </div>
                        <div class="room-name">
                            <i></i>
                            <span class="value"></span>
                        </div>
                        <div class="room-sex">
                            <i></i>
                            <span class="value"></span>
                        </div>
                        <div class="room-enable">
                            <i></i>
                            <span class="value"></span>
                        </div>
                    </div>
                    <div class="room-count">
                        <div class="blogCount">
                            <i></i>
                            <span>TA发表的博客:</span>

                            <a href="javascript:;" class="avalue" onclick="getBCData('blog',1)"></a>
                        </div>
                        <div class="blogCollCount">
                            <i></i>
                            <span>TA收藏的博客:</span>

                            <a href="javascript:;" class="avalue" onclick="getBCData('collBlog',1)"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list">

            </div>
        </div>
    </div>
</div>
</body>

<script src="/static/js/jquery-1.8.2.min.js" type="text/javascript"></script>
<script src="/static/modules/layui/layui.js" type="text/javascript"></script>

<script src="/static/js/common.js" type="text/javascript"></script>
<script src="/static/js/room/room.js" type="text/javascript"></script>

</html>