<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/static/img/logo.png">
    <title>YeBlog - 博客 - 商城</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link href="/static/modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/static/modules/layui/css/layui.css" rel="stylesheet" />

    <link href="/static/css/index.css" rel="stylesheet" />
</head>

<body>
<div class="app">
    <div class="header">
        <a href="/"><img class="header-logo" src="/static/img/logo.png"><span class="header-title">YeBlog</span></a>
    </div>
    <div class="contain">
        <div class="navbar">
            <nav class="nav-list">
                <a href="/" class="item">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span>首页</span>
                </a>
                <a href="/column" class="item">
                    <i class="fa fa-columns" aria-hidden="true"></i>
                    <span>专栏</span>
                </a>
                <a href="/createBlog" class="item">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                    <span>写博客</span>
                </a>
                <a href="/shop" class="item item-active">
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    <span>商城</span>
                </a>
                <a href="/profile" class="item">
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                    <span>个人中心</span>
                </a>
                <a href="/schedule" class="item">
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                    <span>留言板</span>
                </a>

            </nav>
        </div>
        <div class="main">
            <div>
                <form class="layui-form" lay-filter="shopQueryForm">
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <input type="text" name="goodsName" autocomplete="off" placeholder="请输入名称" class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <div id="category"></div>
                        </div>
                        <div class="layui-input-inline">
                            <select name="shopOrder">
                                <option value="0" selected="">请选择</option>
                                <option value="1">按购买降序</option>
                                <option value="2">按价格降序</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <button type="button" class="layui-btn" id="queryBtn">查询</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="shop-list">
                <ul>

                </ul>
            </div>

            <div id="page">
            </div>
            <div class="bottomArea">
                <button type="button" onclick="shopCar();"><i></i>购物车</button>
                <button type="button" onclick="order();"><i></i>我的订单</button>
                <button type="button" onclick="updateAddress();"><i></i>我的收货信息</button>
            </div>
            <div id="AddressInfo" style="display: none;">
                <form class="layui-form" lay-filter="AddressInfoForm">
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="padding: 9px 12px;">收货人名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="addName" placeholder="收货人名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="padding: 9px 12px;">收货人手机</label>
                        <div class="layui-input-inline">
                            <input type="text" name="addPhone" placeholder="收货人手机" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="padding: 9px 12px;">收获人地址</label>
                        <div class="layui-input-inline">
                            <input type="text" name="address" placeholder="收获人地址" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

<script src="/static/js/jquery-1.8.2.min.js" type="text/javascript"></script>
<script src="/static/modules/layui/layui.js" type="text/javascript"></script>
<script src="/static/modules/xm-select/xm-select.js" type="text/javascript"></script>

<script src="/static/js/common.js" type="text/javascript"></script>
<script src="/static/js/shop/shop.js" type="text/javascript"></script>

</html>