<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tao.yeblog_user.dao.AdminUserMapper">

    <select id="getAdminUserInfo" parameterType="com.tao.yeblog_user.model.qo.AdminUserQO"
            resultType="com.tao.yeblog_user.model.dto.AdminUserDTO">
        select t.name name,
        t.loginid loginId,
        t.password password,
        t.lastlogip lastLogIp,
        t.lastlogtime lastLogTime
        from sys_user_admin t
        where 1=1
        <if test="loginId != null and loginId != '' ">
            and t.loginid = #{loginId}
        </if>
        <if test="password != null and password != '' ">
            and t.password = #{password}
        </if>
    </select>

    <select id="updateAdminUserInfo" parameterType="com.tao.yeblog_user.model.dto.AdminUserDTO">
        update sys_user_admin t
        <set>
            <if test="logIp != null and logIp != '' ">
                t.lastlogip = #{logIp},
            </if>
            <if test="logTime != null and logTime != '' ">
                t.lastlogtime = sysdate(),
            </if>
            <if test="newPassword != null and newPassword != '' ">
                t.password = #{newPassword},
            </if>
        </set>
        where t.loginid = #{loginId}
        and t.password = #{password}
    </select>
</mapper>
