<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tao.yeblog_user.dao.BlogMapper">

    <select id="pageBlogInfo" parameterType="com.tao.yeblog_user.model.qo.BlogQO"
            resultType="com.tao.yeblog_user.model.dto.BlogDTO">
      select t.* from
      (
        select t9.*,
        count(distinct t10.id) + count(t11.commentid) commentNums
        from(
            select t6.*, count(t8.blogid) viewNums
            from
            (
              select t1.id id, t1.blogid blogId, t2.loginid userId, t2.name userName, t3.columnid columnId, t3.name columnName, t1.title title, t1.type type, t1.enable enable, t1.content content, t4.url cover, t1.createtime createTime, count(t5.blogid) collectionNums
              from blog t1
              left join blog_user t2 on t1.userid= t2.id
              left join yeblog_db.column t3 on t1.columnid= t3.id
              left join sys_file t4 on t1.cover= t4.id
              left join user_collection t5 on t1.id= t5.blogid
              group by t1.id) t6
              left join(
                select t7.*
                from blog_view t7
                group by t7.ip, day(t7.time)
              ) t8 on t6.id= t8.blogid
            group by t6.blogId
        ) t9
        left join blog_comment t10 on t9.id= t10.blogid
        left join comment_reply t11 on t10.id= t11.commentid
        group by t9.id
        order by t9.createtime desc
      ) t
      where 1=1
      <if test="title !=null and title != ''">
        and t.title like (concat('%',#{title},'%'))
      </if>
      <if test="blogId !=null and blogId != ''">
        and t.blogId like (concat('%',#{blogId},'%'))
      </if>
      <if test="userId !=null and userId != ''">
        and t.userId like (concat('%',#{userId},'%'))
      </if>
      <if test="enable !=null and enable != ''">
        and t.enable = #{enable}
      </if>
      <if test="createTimeQ !=null and createTimeQ != ''">
        and t.createTime >= date_format(#{createTimeQ},'%Y-%m-%d')
      </if>
      <if test="createTimeZ !=null and createTimeZ != ''">
        and t.createTime &lt;= date_format(#{createTimeZ},'%Y-%m-%d')
      </if>
      <if test="type !=null and type != ''">
        and t.type in
        <foreach collection="types" item="type" open="(" close=")" separator=",">
          #{type}
        </foreach>
      </if>
      <if test="columnId !=null and columnId != ''">
        and t.columnId in
        <foreach collection="columnIds" item="columnId" open="(" close=")" separator=",">
          #{columnId}
        </foreach>
      </if>
      <if test="collectionNumsQ !=null and collectionNumsQ != ''">
        and t.collectionNums >= #{collectionNumsQ}
      </if>
      <if test="collectionNumsZ !=null and collectionNumsZ != ''">
        and t.collectionNums &lt;= #{collectionNumsZ}
      </if>
      <if test="viewNumsQ !=null and viewNumsQ != ''">
        and t.viewNums >= #{viewNumsQ}
      </if>
      <if test="viewNumsZ !=null and viewNumsZ != ''">
        and t.viewNums &lt;= #{viewNumsZ}
      </if>
      <if test="commentNumsQ !=null and commentNumsQ != ''">
        and t.commentNums >= #{commentNumsQ}
      </if>
      <if test="commentNumsZ !=null and commentNumsZ != ''">
        and t.commentNums &lt;= #{commentNumsZ}
      </if>
    </select>

    <select id="pageBlogInfoByColl" parameterType="com.tao.yeblog_user.model.qo.BlogQO"
            resultType="com.tao.yeblog_user.model.dto.BlogDTO">
        select t1.blogid blogId,
        t1.title title,
        count(t2.blogid) collectionNums
        from blog t1
        left join user_collection t2 on t1.id = t2.blogid
		where t1.enable = "1" and t1.type &lt;> "2"
        group by t1.id
		order by collectionNums desc
    </select>

      <select id="pageBlogInfoByView" parameterType="com.tao.yeblog_user.model.qo.BlogQO"
              resultType="com.tao.yeblog_user.model.dto.BlogDTO">
        select t.blogId blogId,
        t.title title,
        count(t.id2) viewNums,
        t.url cover
        from
        (
            select t1.blogId,t1.title,t2.blogid id2,t2.ip,t2.time,t3.url
            from blog t1
            left join blog_view t2 on t1.id = t2.blogid
            left join sys_file t3 on t1.cover = t3.id
            where t1.enable = "1" and t1.type &lt;> "2"

            group by t2.ip,day(t2.time)
        ) t
        group by t.blogid
        order by viewNums desc
    </select>

    <select id="pageBlogInfoByNew" parameterType="com.tao.yeblog_user.model.qo.BlogQO"
                resultType="com.tao.yeblog_user.model.dto.BlogDTO">
        select t9.*,
        count(t10.id) commentNums
        from(
            select t6.*, count(t8.blogid) viewNums
            from
            (
              select t1.id id, t1.blogid blogId, t2.loginid userId, t2.name userName, t3.columnid columnId, t3.name columnName, t1.title title, case when t1.type="0" then "原创" when t1.type="1" then "转载" end as type, t1.content content, t4.url cover, date_format(t1.createtime, '%Y年%m月%d日') createTime, count(t5.blogid) collectionNums
              from blog t1
              left join blog_user t2 on t1.userid= t2.id
              left join yeblog_db.column t3 on t1.columnid= t3.id
              left join sys_file t4 on t1.cover= t4.id
              left join user_collection t5 on t1.id= t5.blogid
              where t1.type &lt;> "2"
              and t1.enable= "1"
              group by t1.id) t6
              left join(
                select t7.*
                from blog_view t7
                group by t7.ip, day(t7.time)
              ) t8 on t6.id= t8.blogid
            group by t6.blogId
        ) t9
        left join blog_comment t10 on t9.id= t10.blogid
        left join comment_reply t11 on t10.id= t11.commentid
        group by t9.id
        order by t9.createtime desc
    </select>

    <update id="updateBlogInfo" parameterType="com.tao.yeblog_user.model.dto.BlogDTO">
      update blog t
      <set>
        <if test="enable != null and enable != ''">
          t.enable = #{enable},
        </if>
        <if test="reason != null">
          t.reason = #{reason},
        </if>
        <if test="newColumnId != null and newColumnId != ''">
          t.columnid = (select id from yeblog_db.column where columnid = #{newColumnId}),
        </if>
      </set>
      where 1=1
      <if test="blogId !=null and blogId != ''">
        and t.blogid in
        <foreach collection="blogIds" item="blogId" open="(" close=")" separator=",">
          #{blogId}
        </foreach>
      </if>
      <if test="columnId !=null and columnId != ''">
        and t.columnid = (select id from yeblog_db.column where columnid = #{columnId})
      </if>
    </update>

</mapper>
